<div class="page-holder align-items-center py-4 bg-gray-100 vh-100" style="background-color: #ededed;">
  <div class="container" style=" margin-top: 60px;">
    <div class="row align-items-center">
      <div class="col-lg-6 px-lg-4"  *ngIf="userlogin">
        <div class="card">
          <div class="card-body p-lg-5">
            <h3 class="mb-4"> <b style="color: #2A52BE;">Authentification</b></h3>
            <p class="text-muted text-sm">Veuillez remplir les champs avec vos informations.</p>
            <form id="loginForm" action="index.html">
              <div class="form-floating mb-3">
                <label for="floatingInput">Nom d'utilisateur</label>
                <input class="form-control" id="floatingInput" [(ngModel)]="au" placeholder="votre nom d'utilisateur..." required>
              </div>
              <div class="form-floating mb-3">
                <label for="floatingPassword">Mot de passe</label>
                <input class="form-control" id="floatingPassword" [(ngModel)]="ap" type="password" placeholder="votre mot de passe..." required>
              </div>
            </form>
            
              <button class="btn btn-primary" style="background-color: #0047AB;" (click)="login()" type="button">Se connecter</button>
            </div>
          <!--
          <div class="card-footer px-lg-5 py-lg-4">
            <div class="text-sm text-muted">Don't have an account? <a (click)="user_register()">Register</a>.</div>
          </div>
          -->
        </div>
      </div>
      <!-- register -->
       <div class="col-lg-6 px-lg-4" *ngIf="userregister">
        <div class="card">
          <div class="card-header px-lg-5">
            <div class="card-heading text-primary">Register page</div>
          </div>
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Get started with our app</h3>
            <p class="text-muted text-sm mb-5">Welcome</p>
            <form action="index.html">
              <div class="form-floating mb-3">
                <input class="form-control" id="username" type="email" placeholder="name@example.com" required>
                <label for="username">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingInput" type="email" placeholder="name@example.com" required>
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingPassword" type="password" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="agree" id="agree">
                <label class="form-check-label" for="agree">I agree with the <a href="#">Terms & Conditions</a>.</label>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" id="regidter" type="button" name="registerSubmit">Register</button>
              </div>
            </form>
          </div>
          
          <div class="card-footer px-lg-5 py-lg-4">
            <div class="text-sm text-muted">Already have an account? <a (click)="user_login()">Login</a>.</div>
          </div>
        </div>
      </div>
     <div class="col-lg-6  text-center text-primary">
      <img class="img-fluid mb-4" width="100"  src="assets/img/assets.png" alt="">
        <h1  style="color: #0047AB;">Caisse Déconnectée</h1>
        <p class="lead text-muted">Développée par : <a href="http://www.arabsoft.com.tn/"> <img class="img-fluid mb-4" width="100" style="margin-top: 10px;" src="assets/img/logoarabsoft.png" alt=""> </a></p>
      </div>
    </div>
  </div>
</div>