<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/bg/bghome-01.png" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
            <img class="avatar border-gray" src="assets/img/logoarabsoft1.png" alt="...">
            <h5 class="title" style="color: blue;">{{user.fname}} {{user.lname}}</h5>
          <p class="description">
            @{{user.username}}
          </p>
        </div>
        <p class="description text-center">
          Compte actif : {{role.name}}
          <br> Matricule : {{ user.use_matricule }}
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>profils : 
                <br>

                <small *ngFor="let p of roles">{{p.name}} , </small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>Créé le 
                <br>
                <small>{{user.use_crtdt  | date:'shortDate'}}</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
